---
- name: 'RedHat | Configure the repository and install the Containerd package'
  become: true
  block:
    - name: 'RedHat | Remove the conflicting Containerd packages'
      ansible.builtin.yum:
        name:
          - 'docker'
          - 'docker-client'
          - 'docker-client-latest'
          - 'docker-common'
          - 'docker-engine'
          - 'docker-engine-selinux.noarch'
          - 'docker-latest'
          - 'docker-latest-logrotate'
          - 'docker-logrotate'
          - 'docker-selinux.noarch'
          - 'podman'
          - 'runc'
        autoremove: true
        state: 'absent'

    - name: 'RedHat | Ensure the dependencies are installed'
      ansible.builtin.package:
        name:
          - 'ca-certificates'
          - 'yum-utils'
        state: 'present'

    - name: 'RedHat | Add the Containerd repository'
      ansible.builtin.template:
        src: 'docker.repo.j2'
        dest: '/etc/yum.repos.d/docker.repo'
        owner: 'root'
        group: 'root'
        mode: 0644

    - name: 'RedHat | Install the Containerd package'
      ansible.builtin.yum:
        name: '{{ __containerd_package }}'
        allow_downgrade: true
        update_cache: true
        state: "{{ (containerd_setup == 'upgrade') | ternary('latest', 'present') }}"
      ignore_errors: '{{ ansible_check_mode }}'
