{{ ansible_managed | comment }}

[docker-ce-{{ containerd_repository_release_channel }}]
name=Docker CE {{ containerd_repository_release_channel | title }} - $basearch
baseurl={{ _containerd_repository }}
enabled=1
gpgcheck=1
gpgkey={{ containerd_repository_gpgkey_url }}
